.punteo{
    margin-left: 25px;
    width: 200px;
    height: 50px;

    margin-top: 15px;
}

.medium{
    grid-column-start:1 ;
    grid-column-end: 2;

    margin-top: 10px;
    margin-left: 25px;

    width: 100px;
    height: 50px;
}